[submodule "static/images"]
	path = static/images
	url = https://github.com/cavemancave/images.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/cavemancave/hugo-coder.git
